.texto_duplo{
    padding: 80px 0;
    .titulo{
        margin-bottom: 35px;
    }
    .conteudo{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .left{
            width: 100%;
            p{
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
        .right{
            width: 100%;
            margin-top: 35px;
            .item{
                display: inline-flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 30px;
                .img{
                    width: 80px;
                    margin-right: 15px;
                    img{
                        width: 100%;
                    }
                }
                .texto{
                    width: calc(100% - 95px);
                    h3{
                        font-size: 24px;
                        font-family: $titulo_bold;
                    }
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
        @include desktop{
            .left{
                width: 58%;
            }
            .right{
                width: 38%;
                margin-top: 0px;
            }
        }
    }
}

.contador{
    padding: 80px 0px;
    background-image: url('../imagens/contador/background-contador.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    .container{
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item{
            width: 100%;
            border: 2px solid #fff;
            text-align: center;
            margin-bottom: 25px;
            &:last-child{
                margin-bottom: 0px;
            }
            @include desktop{
                width: 30%;
                margin-bottom: 0px;
            }
            .top{
                padding: 15px 0 20px 0;
                img{
                    width: 35px;
                    height: 35px;
                    margin-right: 15px;
                }
                span{
                    font-size: 48px;
                    font-family: $titulo_bold;
                }
            }
            .bottom{
                padding: 15px 0;
                background-color: $color_destaque;
            }
        }
    }
}

.nosso-time{
    background-color: #292929;
    padding: 80px 0;
    .itens{
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        .item{
            width: 100%;
            margin-bottom: 35px;
            @include tablet{
                width: 49%;
                margin-right: 2%;
                &:nth-child(2n+2){
                    margin-right: 0px;
                }
            }
            @include desktop{
                width: 32%;
                margin-right: 2%;
                &:nth-child(2n+2){
                    margin-right: 2%;
                }
                &:nth-child(3n+3){
                    margin-right: 0px;
                }
            }
            img{
                width: 100%;
                display: block;
            }
            .social{
                width: 100%;
                padding: 18px 0;
                text-align: center;
                background-color: $color_destaque;
                a{
                    border: 2px solid #fff;
                    margin-right: 10px;
                    width: 25px;
                    height: 25px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: .30s;
                    svg{
                        transition: .30s;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                    &:hover{
                        border-color: $color_destaque_hover;
                        svg{
                            color: $color_destaque_hover;
                        }
                    }
                }
            }
            .nome{
                width: 100%;
                text-align: center;
                margin-top: 15px;
                font-size: 24px;
                font-family: $titulo_bold;
            }
            .cargo{
                width: 100%;
                text-align: center;
                margin-top: 15px;
            }
        }
    }
}