.listagem-noticias{
    padding: 85px 0px;
    background-color: #292929;
    .descricao{
        text-align: left;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .itens{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .item{
            width: 100%;
            display: inline-block;
            margin-bottom: 60px;
            @include tablet{
                width: 48%;
                margin-right: 4%;
                &:nth-child(2n+2){
                    margin-right: 0px;
                };
            }
            @include desktop{
                width: 30.666666667%;
                margin-right: 4%;
                &:nth-child(2n+2){
                    margin-right: 4%;
                };
                &:nth-child(3n+3){
                    margin-right: 0px;
                };
            }
            .img{
                img{
                    width: 100%;
                }
            }
            .info{
                padding: 20px;
                background-color: black;
                margin: 0px 20px;
                position: relative;
                z-index: 10;
                .titulo{
                    font-size: 18px;
                    font-family: 'Montserrat Bold';
                    margin-bottom: 25px;
                    &:after{
                        background-color: white;
                    }
                }
                .data{
                    font-size: 14px;
                    width: max-content;
                    margin: -60px -20px 0 0;
                    white-space: normal;
                    float: right;
                    background-color: $color_destaque;
                    padding: 10px 15px;
                }
                .link{
                    a{
                        font-size: 18px;
                        color: $color_destaque;
                        text-decoration: underline;
                        font-family: 'Montserrat Bold';
                        transition: .30s;
                        &:hover{
                            color: $color_destaque_hover;
                        }
                    }
                }
            }
        }
    }
    .paginacao{
        width: 100%;
        display: block;
        ul{
            display: inline-flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            li{
                a{
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #fff;
                    transition: .30s;
                    &:hover{
                        background-color: $color_destaque;
                        border: 1px solid $color_destaque;
                    }
                    &.active{
                        background-color: $color_destaque;
                        border: 1px solid $color_destaque;
                    }
                }
            }
        }
    }
}