.banners{
    .itens{
        width: 100%;
        display: block;
        position: relative;
        .item{
            width:100%;
            display: block;

            a{
                width:100%;
                display: block;
                img{
                    width:100%;
                    max-width: 100%;
                }
            }
        }
        .slick-arrow{
            &:before{
                display: none;
            }
            svg{
                position:absolute;
                color: #fff;
                font-size: 35px;

                &:hover{
                    color: $color_destaque;
                }
            }
            &.slick-prev,
            &.slick-next{
                background-color: transparent !important;
                width: 35px;
                height: 50px;
                box-shadow: none;
            }
        }
    }
}

.servicos{
    padding: 85px 0px 30px 0px;
    background-color: #292929;
    &.slider{
        .itens{
            .item{
                width: 100%;
                margin: 0px 10px 28px 10px !important;
                @include tablet{
                    width: 100%;
                }
                @include desktop{
                    width: 100%;
                    margin: 0px 40px 28px 40px !important;
                }
            }
        }
    }
    .descricao{
        max-width: 685px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .itens{
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        .item{
            width: 100%;
            display: inline-block;
            margin-bottom: 35px;
            @include tablet{
                width: 49%;
                margin-right: 2%;
                &:nth-child(2n+2){
                    margin-right: 0px;
                }
            }
            @include desktop{
                width: 32%;
                margin-right: 2%;
                &:nth-child(2n+2){
                    margin-right: 2%;
                }
                &:nth-child(3n+3){
                    margin-right: 0px;
                }
            }
            .img{
                img{
                    width: 100%;
                }
            }
            .info{
                padding: 20px;
                background-color: black;
                margin: -40px 20px 0px 20px;
                position: relative;
                z-index: 10;
                .titulo{
                    font-size: 18px;
                    font-family: 'Montserrat Bold';
                    margin-bottom: 25px;
                    &:after{
                        background-color: white;
                    }
                }
                .descricao{
                    font-size: 16px;
                    font-family: 'Montserrat Medium';
                    text-align: left;
                    width: 100%;
                    margin: 0 0 20px 0;
                    white-space: normal;
                }
                .link{
                    a{
                        font-size: 24px;
                        color: $color_destaque;
                        text-decoration: underline;
                        font-family: 'Montserrat Bold';
                        transition: .30s;
                        &:hover{
                            color: $color_destaque_hover;
                        }
                    }
                }
            }
        }
        .slick-dots li button{
            padding: 0px;
            background-color: #fff;
            border-radius: 50%;
            border: 3px solid #000;
            &::before{
                opacity: 0;
            }
        }
        .slick-dots li.slick-active button{
            border: 3px solid #fff;     
        }
    }
}

.call_to_action{
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    video{
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .container{
        z-index: 10;
        position: relative;
        .titulo_principal{
            font-size: 36px;
            line-height: 48px;
            font-family: 'Montserrat Medium';
            text-align: center;
            margin: 0 auto 60px auto;
            max-width: 1080px;
        }
        .btn{
            display: block;
            margin: 0 auto;
            max-width: max-content;
            border: 3px solid $color_destaque;
            border-radius: 10px;
            background-color: transparent;
            text-transform: uppercase;
            transition: .30s;
            a{
                display: block;
                font-size: 14px;
                padding: 12px 25px;
            }
            &:hover{
                background-color: $color_destaque;
            }
        }
    }
}

.institucional{
    padding: 80px 0;
    background-color: #292929;
    display: flex;
    .container{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .informacoes{
            width: 100%;
            display: inline-block;
            .descricao{
                font-size: 16px;
                line-height: 24px;
                font-family: 'Montserrat Medium';
                margin-bottom: 50px;
                p{
                    text-align: justify;
                    margin-bottom: 30px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            .btn{
                display: block;
                margin: 0;
                max-width: max-content;
                border: 3px solid $color_destaque;
                border-radius: 10px;
                background-color: transparent;
                text-transform: uppercase;
                transition: .30s;
                a{
                    display: block;
                    font-size: 14px;
                    padding: 12px 25px;
                }
                &:hover{
                    background-color: $color_destaque;
                }
            }
        }
        .video{
            width: 100%;
            display: inline-block;
            padding: 85px 0;
            position: relative;
            display: flex;
            margin-top: 25px;
            overflow: hidden;
            img{
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .conteudo{
                position: relative;
                z-index: 2;
                width: 100%;
                padding: 35px 25px;
                background-color: #fff;
                display: inline-flex;
                align-items: center;
                color: #000;
                text-transform: uppercase;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                box-shadow: 0px 0px 47px -14px rgba(0,0,0,0.99);
                .texto{
                    width: 100%;
                }
                .icone{
                    margin-bottom: -115px;
                    a{
                        padding: 30px 32.5px;
                        background-color: #fff;
                        box-shadow: 0px 0px 47px -14px rgba(0,0,0,0.99);
                        border-radius: 50%;
                        display: block;
                        svg{
                            font-size: 40px;
                            color: $color_destaque;
                            transition: 0.30s;
                            margin: 0 0 0 7px;
                        }
                        &:hover{
                            svg{
                                color: $color_destaque_hover;
                            }
                        }
                    }
                }
            }
        }
        @include tablet{
            .video{
                .conteudo{
                    width: 50%;
                    flex-wrap: initial;
                    text-align: left;
                    .icone{
                        margin: 0 -75px 0 0;
                    }
                }
            }
        }
        @include desktop{
            .informacoes{
                width: 39%;
            }
            .video{
                margin-top: 0px;
                width: 52%;
                overflow: initial;
                img{
                    max-width: 100%;
                }
                .conteudo{
                    width: calc(50% + 25px);
                    margin-left: -25px;
                }
            }
        }
    }
}

.clientes{
    padding: 80px 0px;
    background-image: url('../imagens/background-clientes.png');
    .conteudo{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .img{
            display: none;
            width: 35%;
            img{
                max-width: 100%;
            }
            @include desktop{
                display: block;
            }
        }
        .carrossel{
            width: 100%;
            .item{
                width: 100%;
                display: block;
                padding: 0px 0px 0px 20px;
                .top{
                    width: 100%;
                    display: block;
                    text-align: right;
                    margin-bottom: 35px;
                    svg{
                        font-size: 55px;
                        color: $color_destaque;
                    }
                }
                .descricao{
                    font-size: 20px;
                    line-height: 36px;
                    font-family: 'Montserrat Medium';
                    margin-bottom: 35px;
                }
                .bottom{
                    display: inline-flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    .img{
                        display: block;
                        width: 80px;
                    }
                    .info{
                        text-align: right;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: space-between;
                        .estrela{
                            svg{
                                font-size: 14px;
                                color: $color_destaque;
                            }
                        }
                        .nome{
                            span{
                                font-size: 20px;
                                font-family: 'Montserrat Bold';
                                display: block;
                            }
                            small{
                                font-size: 16px;
                                font-family: 'Montserrat Italic';
                            }
                        }
                    }
                }
            }
            .slick-arrow{
                &:before{
                    display: none;
                }
                svg{
                    color: #fff;
                    font-size: 20px; 
                }
                &.slick-prev,
                &.slick-next{
                    background-color: $color_destaque !important;
                    width: 35px;
                    height: 35px;
                    box-shadow: none;
                    border-radius: 0px;
                    transition: .30s;
                    top: 17.5px;
                    &:hover{
                        background-color: $color_destaque_hover !important;
                    }
                }
                &.slick-prev{
                    left: 20px;
                }
                &.slick-next{
                    left: 65px;
                }
            }
            @include desktop{
                width: 50%;
            }
        }
    }
}

.marcas{
    width: 100%;
    padding: 80px 0px; 
    .galeria{
        width: 100%;
        display: block;
        .item{
            width: 100%;
            display: block;

            img{
                max-width: 100%;
                filter: grayscale(100%);
                transition: .30s;
                padding: 0px 30px;
                &:hover{
                    filter: grayscale(0%);
                }
            }
        }
        .slick-arrow{
            &:before{
                display: none;
            }
            svg{
                position:absolute;
                color: #fff;
                font-size: 35px;

                &:hover{
                    color: $color_destaque;
                }
            }
            &.slick-prev,
            &.slick-next{
                background-color: transparent !important;
                width: 35px;
                height: 50px;
                box-shadow: none;
            }
        }
    }
}

.noticias{
    padding: 85px 0px 30px 0px;
    background-image: url('../imagens/background-blog.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .descricao{
        max-width: 685px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .itens{
        .item{
            width: 100%;
            display: inline-block;
            margin: 0px 10px 28px 10px;
            @include desktop{
                margin: 0px 40px 28px 40px;
            }
            .img{
                img{
                    width: 100%;
                }
            }
            .info{
                padding: 20px;
                background-color: black;
                margin: 0px 20px;
                position: relative;
                z-index: 10;
                .titulo{
                    font-size: 18px;
                    font-family: 'Montserrat Bold';
                    margin-bottom: 25px;
                    &:after{
                        background-color: white;
                    }
                }
                .data{
                    font-size: 14px;
                    width: max-content;
                    margin: -60px -20px 0 0;
                    white-space: normal;
                    float: right;
                    background-color: $color_destaque;
                    padding: 10px 15px;
                }
                .link{
                    a{
                        font-size: 24px;
                        color: $color_destaque;
                        text-decoration: underline;
                        font-family: 'Montserrat Bold';
                        transition: .30s;
                        &:hover{
                            color: $color_destaque_hover;
                        }
                    }
                }
            }
        }
        .slick-dots li button{
            padding: 0px;
            background-color: #fff;
            border-radius: 50%;
            border: 3px solid #000;
            &::before{
                opacity: 0;
            }
        }
        .slick-dots li.slick-active button{
            border: 3px solid #fff;     
        }
    }
}