/* Variaveis
-------------------------------------------------- */
$color: #fff;
$color_destaque: #071899;
$color_destaque_hover: #4b5bd7;
$font_size: 16px;
$font_family: 'Montserrat Regular';
$line_height: 1.3;
$titulo_bold: 'Montserrat Bold';


/* RESET CSS
-------------------------------------------------- */
@import "style/reset";


/* Fontes
-------------------------------------------------- */
@import "fontes/montserrat";

/* Plugins
-------------------------------------------------- */
@import "plugins/slick";
@import "plugins/slick-theme";
@import "plugins/swipebox";

/* Padrão
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "style/header";
@import "style/migalha";
@import "style/footer";

/* Páginas
-------------------------------------------------- */
@import "paginas/home";
@import "paginas/a_rlbs_motors";
@import "paginas/videos";
@import "paginas/blog";
@import "paginas/fale_conosco";
@import "paginas/servico_detalhe";
@import "paginas/blog_detalhe";
@import "paginas/login";
